body {
  font-family: "Mooli", sans-serif;
  background: linear-gradient(to bottom, #0a0e15, #121721);
  min-height: 90vh;
}

.custom-bg-color {
  background-color: #171b26;
  color: white;
}

.card-img-container {
  height: 200px;
  overflow: hidden;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #f2f2f2;
  border-radius: 8px;
}

.invalidInput {
  color: #fff;
  font-size: 12px;
  margin-top: 2px;
  background-color: red;
  border-radius: 0 0 20px 20px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  margin-bottom: 0px;
}
