<footer class="bg-dark text-white pt-5 pb-3">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Project Info
        </h5>
        <p>
          E-commerce platform designed to highlight my skills as a web
          developer. The project is made with the MEAN stack. You can contact me or see the project
          repository if you want to contribute
        </p>
      </div>

      <div class="col-md-4 mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          About Me
        </h5>
        <p>
          Hi! I'm Martin, an argentinian junior web developer who likes backend
          development. Although this year I also explored the frontend world
          with Angular.
        </p>
      </div>

      <div class="col-md-4 mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">
          Connect With Me
        </h5>
        <p><i class="fas fa-envelope me-2"></i>{{ email }}</p>
        <p><i class="fab fa-github me-2"></i>GitHub: Martinchx</p>
        <p><i class="fab fa-discord me-2"></i>Discord: tincho.dev</p>
      </div>
    </div>

    <hr class="mb-4" />

    <div class="row align-items-center">
      <div class="col-md-7">
        <p class="mb-0 text-md-start">
          ©2023 All rights reserved by:
          <a
            href="https://github.com/Martinchx"
            target="_blank"
            style="text-decoration: none"
          >
            <strong class="text-warning">Martinchx</strong>
          </a>
        </p>
      </div>

      <div class="col-md-5">
        <div class="text-center text-md-end">
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item">
              <a
                href="https://github.com/Martinchx"
                target="_blank"
                class="btn-floating btn-sm text-white"
                style="font-size: 23px"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="https://twitter.com/tincho_dev"
                target="_blank"
                class="btn-floating btn-sm text-white"
                style="font-size: 23px"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="https://discord.com/users/852752507053801483"
                class="btn-floating btn-sm text-white"
                target="_blank"
                style="font-size: 23px"
                ><i class="fab fa-discord"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
