body {
  font-family: "Mooli", sans-serif;
  background: linear-gradient(to bottom, #171b26, #000000);
}

.dropdown-item {
  cursor: pointer !important;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #007bff;
  color: #ffffff;
}

.custom-table-title {
  background-color: #34495e;
  color: white;
  padding: 15px;
}
